# =====================
# Node / React
# =====================
node_modules/
dist/
build/

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
venv/
.env/
.venv/

# =====================
# FastAPI
# =====================
*.sqlite3
*.db

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS Files
# =====================
.DS_Store
Thumbs.db

# =====================
# JWT / Secrets
# =====================
*.key
*.pem
secrets.json
